body {
  margin: 0;
  padding: 0;
}
/* form style goes here */


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.card-item-fs{

  /* justify-content: center;
  align-items: center; */
  display: flex;
  margin-left:5px;
  margin-right: 5px;
  /* border-radius: 5px; */
  padding: 3px;
  justify-content: center;
  align-items: center;
}
.form-label{
  align-self: center;
  
}

.bg-light{
  box-shadow: 2px 2px 4px rgba(10, 9, 9,.5);
}

.bg-nav-item{
  background-color: white;
}


.login-page{
  background-color: rgb(196, 205, 255);
  height: 100vh;
  justify-content: center;
  align-items: center;
}



/* nav goes here */


::-webkit-scrollbar {
  width: 10px;
}
 
.App {
  display: flex;
  /* text-align: center; */
}
 
main {
  padding: 10px;
  /* width: 1500px; */
  margin-left: 250px;
  margin-top: 50px;
}

.top-nave-bg{
  height: 8vh;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc1c1;
}
.fixed-top .container-fluid .title {
  margin-bottom: 0;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 250px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: black;
  }
.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(248, 249, 250);
  padding-top: 28px;
  position: fixed;
  /* box-shadow: 2px 2px 8px 4px rgba(10, 9, 9,.7); */
  z-index: 999;
 
  overflow-x: auto;

  background-color: #ffffff;
  border-right: 1px solid #ccc1c1;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}



.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}


.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #d5dde41c;
  font-size: 14px;
  transition: font-size .2s;
}

.nav-link{
  color:#5c6975
}
.nav-link:hover{
  /* color:white; */
  transition: color 1s;
  /* text-shadow:2px 2px 4px #f5f0f0; */
  font-family: 'Roboto Condensed', sans-serif;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;  
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

.menuBtn img{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}


.formContainer{
  margin: 20px;
  width: 1000px;
}

/* font goes here */

.roboto-condensed{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
.roboto-condensed-300{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

/* table css */

#tableContent .img-fluid {
  max-width: 150px;
  height: 150px;
}


/* dropdown */
.submenu-drop-item{
padding: 10px 20px;
cursor: pointer;
color: #dbe4ec;
text-decoration: none;
}
.submenu-drop-item:hover{
background-color: #d5dde41c;
}
.has-submenu{
padding: 10px 20px;
cursor: pointer;
color: #dbe4ec;
text-decoration: none;
}
.drop-item {
padding: 2px 10px;
cursor: pointer;
text-decoration: none;
font-size: 14px;
border-left: 2px solid #dee2e6;
}

.drop-item:hover {
background-color: rgba(117, 135, 153, 0.8);

}

.nav-link  img{
margin-right: 20px;
width: 25px;
height: 25px;


}
.brightness{
  color:#000
}
.logo{
  width: 40px;
height: 40px;

}
/* { filter: opacity(0.9) drop-shadow(0 0 0 rgb(241, 241, 243) ) invert(100) } */

.back-color{
background-color: white;
border-radius: 5px;

}
.menuBtn,
.back-color img{
margin-right: 10px;
width: 20px;
height: 20px;
}
.actClr{
background-color:#fcf7f3;

}
.act0ne{color:rgba(255,128,0,1.00);}

.form-control-sm {
min-height: calc(-0.5em + (-2.5rem + 1px));
padding: 0.01rem 0.5rem;
font-size: .875rem;
border-radius: 0.2rem;
}

/* date css */

input[type="date"]{

font-family: 'Roboto Condensed', sans-serif;
padding: 0.01rem 0.5rem;
color: #999090;
font-size: 16px;
font-weight: 200;
min-height: calc(-0.5em + (-2.5rem + 1px));
border-radius: 5px;
border-width: .01px;
border-color: #d3c4c4;
}

input[type="text"]{
font-family: 'Roboto Condensed', sans-serif;
}
::-webkit-calendar-picker-indicator{
background-color: #ffffff;
padding: 5px;
cursor: pointer;
border-radius: 3px;
}

tbody, td, tfoot, th, thead, tr {
border-color: inherit;
border-style: solid;
border-width: 0;
font-size: 14px;
width: 50px;

}


/* banner goes */
#banner{
background: url(../image/banner.jpeg);
padding-top: 330px;
padding-bottom: 250px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}




/* home page goes here */

.header {
/* height: 94vh; */
min-height: 650px;
/* border-bottom: 1px solid #dee2e6; */
}

.header .container {
/* height: 100%; */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;

}

.header .container .infos {
margin-top: 50px;
}

.header .container .infos .subtitle {
margin-bottom: 0;
font-size: 22px;
font-weight: 500
}

.header .container .infos .title {
margin-bottom: 0;
font-size: 45px;
font-weight: 700;
line-height: 50px;
margin-top: 2px;
}

.header .container .infos p {
margin-top: -5px;
font-size: 22px
}

.header .container .infos .btn {
display: inline-block;
margin: 0 2px
}

.header .container .img-holder {
height: 100%;
-webkit-align-self: flex-end;
-ms-flex-item-align: end;
align-self: flex-end;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-align: end;
-webkit-align-items: flex-end;
-ms-flex-align: end;
align-items: flex-end;
padding-left: 0
}

.header .container .img-holder img {
width: 100%;
max-width: 620px;
/* -webkit-filter: drop-shadow(0 -4px 20px rgba(206, 212, 218, .4)); */
/* filter: drop-shadow(0 -4px 20px rgba(206, 212, 218, .4)); */
margin-left: auto;
margin-right: -2rem
}



.header .widget {
/* position: relative; */
max-width: 650px;
width: 95%;
margin: 0 auto;
border-radius: 50px;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
border: 1px solid #dee2e6;
padding: 20px 0;
margin-bottom: 20px;
/* z-index: 599; */
background: #ffffff;
box-shadow: 0 0 30px rgba(173,181,189,.4)

}

.header .widget .widget-item {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-flex-basis: 0;
-ms-flex-preferred-size: 0;
flex-basis: 0;
text-align: center;
border-right: 1px solid #dee2e6
}

.header .widget .widget-item:last-child {
border-right: 0
}

.header .widget .widget-item h2,.header .widget .widget-item p {
margin: 0;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 700;

}

.header .widget .widget-item p {
opacity: .7;
font-size: 14px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 300;
}


/* foooter goes here */

.page-footer {
background: #fcfdff;
border-top: 1px solid #dee2e6;

}

.page-footer .row {
height: 100px
}

.page-footer p {
margin-bottom: 0
}

.page-footer .socials {
max-width: 210px;
margin-left: auto
}

.page-footer .socials .social-item {
margin-left: auto
}


/* Loader goes here */

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* LOader ends */